[Unit]
Description=SMARS Rover WiFi Provisioning
After=NetworkManager.service network-online.target
Wants=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/bash /opt/wifi_check.sh
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
